---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { time, title, description, img } = Astro.props;
---

<article
  class="relative ml-4 md:ml-10 flex flex-col items-start justify-center appear"
>
  <div class="flex flex-row items-center mb-2">
    <span class="font-sans text-wedding-black text-sm">-</span>
    <Icon name="mdi:clock-outline" class="text-wedding-black w-8" />
    <span class="font-sans text-wedding-black text-sm">{time}</span>
  </div>
  <h3 class="title text-wedding-secondary text-2xl mb-4 z-10">{title}</h3>
  <p>{description}</p>
  <Image
    src={img}
    alt={`Icono de ${title}`}
    class="absolute right-0 md:right-[-100px] z-0"
  />
</article>
