---
import ScheduleItem from "./ScheduleItem.astro";
import schedule1 from "@assets/wedding/schedule-1.png";
import schedule2 from "@assets/wedding/schedule-2.png";
import schedule3 from "@assets/wedding/schedule-3.png";
import schedule4 from "@assets/wedding/schedule-4.png";
import schedule5 from "@assets/wedding/schedule-5.png";

const TITLE = "Itinerario";
const DESCRIPTION =
  "Queremos que disfrutes cada momento especial con nosotros. Aquí tienes el itinerario de nuestra boda para que no te pierdas ninguno de los momentos más importantes.";
const schedule = [
  {
    time: "4:30 PM",
    title: "Recepción e Inicio de la Ceremonia",
    description:
      "Te esperamos con los brazos abiertos a nuestro gran día. ¡Gracias por ser puntual!",
    img: schedule1,
  },
  {
    time: "5:30 PM",
    title: "Sesión de Fotos Oficial con los Novios",
    description:
      "Queremos capturar estos recuerdos contigo. Trae tu mejor sonrisa para inmortalizar el momento.",
    img: schedule2,
  },
  {
    time: "6:00 PM",
    title: "El Primer Baile de los Esposos",
    description:
      "Un momento mágico que no te puedes perder. Te prometemos una gran sorpresa.",
    img: schedule3,
  },
  {
    time: "6:30 PM",
    title: "Comenzará el Banquete",
    description:
      "Prepárate para disfrutar de una deliciosa cena en forma de taquiza.",
    img: schedule4,
  },
  {
    time: "9:30 PM",
    title: "Momento de Cortar el Pastel",
    description:
      "El momento más dulce de la noche. Continuará la fiesta con baile y juegos.",
    img: schedule5,
  },
];
---

<section class="flex flex-col md:items-center gap-4">
  <h2 class="title text-4xl md:text-6xl text-wedding-main appear">{TITLE}</h2>
  <p class="w-full md:w-2/3 mb-8 md:text-center text-balance">
    {DESCRIPTION}
  </p>
  <div
    class="w-full md:w-1/2 py-8 flex flex-col gap-16 items-start justify-center border-l border-wedding-main"
  >
    {
      schedule.map(({ time, title, description, img }) => (
        <ScheduleItem
          time={time}
          title={title}
          description={description}
          img={img}
        />
      ))
    }
  </div>
</section>
