---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Chip from "@common/Chip.astro";
import type { Category } from "@common/Chip.astro";

interface Props {
  cover: any;
  title: string;
  description: string;
  icons: string[];
  categories: Category[];
  size?: "big" | "small";
  slug: string;
}

const { cover, title, description, icons, categories, slug } = Astro.props;
---

<article class="w-full md:w-1/2 md:block mb-6 p-4" transition:name={title}>
  <figure class="relative mb-2 rounded-xl overflow-hidden">
    <div class="absolute m-1 bottom-1 left-1 flex gap-1">
      {categories.map((category: Category) => <Chip category={category} />)}
    </div>
    <Image class="object-cover rounded-lg" src={cover} alt={title} />
  </figure>
  <div class="px-2 flex-col justify-start text-black">
    <div class="flex items-center justify-start gap-4">
      <h3 class="text-2xl mb-2 font-bold line-clamp-1">
        {title}
      </h3>
      <div class="my-1 flex gap-2">
        {
          icons.map((icon) => (
            <Icon name={icon} class="text-light-gray text-lg" />
          ))
        }
      </div>
    </div>
    <p class="text-base line-clamp-2">
      {description}
    </p>
    <a href={`/projects/${slug}`} class="mt-2 flex items-center text-main">
      <Icon name="mdi:link" class="text-lg mr-1" />
      <span> Ver proyecto </span>
    </a>
  </div>
</article>

<style></style>
