---
const { title, description } = Astro.props;
---

<head>
  <title>{title}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- HTML Meta Tags -->
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content=" http://hectorcreative.dev/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content="https://hectorcreative.dev/og-image.png" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content="hectorcreative.dev" />
  <meta property="twitter:url" content="https://hectorcreative.dev/" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta
    name="twitter:image"
    content="https://hectorcreative.dev/og-image.png"
  />

  <meta name="author" content="Héctor Reyes" />

  <!-- Google tag (gtag.js) -->
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-RKG0CW993B"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-RKG0CW993B");
  </script>
</head>
