---
import { Image } from "astro:assets";
import drop1 from "@assets/wedding/drop-1.png";
import drop2 from "@assets/wedding/drop-2.png";
import drop3 from "@assets/wedding/drop-3.png";
import drop4 from "@assets/wedding/drop-4.png";
---

<div class="bg-container gap-80 md:gap-0">
  <Image src={drop1} alt="" class="drop self-start ml-[-100px] mt-[-50px]" />
  <Image src={drop2} alt="" class="drop self-end mr-[-100px]" />
  <Image src={drop3} alt="" class="drop" />
  <Image src={drop4} alt="" class="drop self-end mr-[-100px]" />
  <Image src={drop1} alt="" class="drop self-start ml-[-200px]" />
  <Image src={drop2} alt="" class="drop self-end mr-[-100px]" />
</div>

<style>
  .bg-container {
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    opacity: 70%;
  }

  .drop {
    min-width: 800px;
    height: auto;
    position: relative;
  }
</style>
