---
import { Image, getImage } from "astro:assets";
import dressCodeBg from "@assets/wedding/bg-dress-code.png";
import dressCodeIcons from "@assets/wedding/icons-dress-code.png";

const background = await getImage({ src: dressCodeBg, format: "png" });

const TITLE = "Código de vestimenta";
const LINE_1 = "Elegante pero con estilo: Ropa formal combinado con tenis.";
const LINE_2 = "Ven cómodo, auténtico y listo para disfrutar.";
---

<section
  class="w-full relative md:w-2/3 flex flex-col items-start md:items-center justify-center gap-4"
>
  <Image src={dressCodeBg} alt="Dress Code BG" class="absolute" />
  <Image src={dressCodeIcons} alt="Dress Code Icons" />
  <h2 class="title text-4xl md:text-6xl text-wedding-main appear">
    {TITLE}
  </h2>
  <p>
    <span class="w-full block md:text-center text-balanced">
      {LINE_1}
    </span>
    <span class="w-full block md:text-center text-balanced font-bold">
      {LINE_2}
    </span>
  </p>
</section>
