---
import { Image } from "astro:assets";

import gallery1 from "@assets/wedding/gallery-1.png";
import gallery2 from "@assets/wedding/gallery-2.png";
import gallery3 from "@assets/wedding/gallery-3.png";
import gallery4 from "@assets/wedding/gallery-4.png";
import gallery5 from "@assets/wedding/gallery-5.png";
import gallery6 from "@assets/wedding/gallery-6.png";
import gallery7 from "@assets/wedding/gallery-7.png";
import gallery8 from "@assets/wedding/gallery-8.png";
import gallery9 from "@assets/wedding/gallery-9.png";
import gallery10 from "@assets/wedding/gallery-10.png";
import gallery11 from "@assets/wedding/gallery-11.png";
import gallery12 from "@assets/wedding/gallery-12.png";
---

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery1} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery2} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery3} alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery4} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery5} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery6} alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery7} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery8} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery9} alt="" />
    </div>
  </div>
  <div class="grid gap-4">
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery10} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery11} alt="" />
    </div>
    <div>
      <Image class="h-auto max-w-full rounded-lg grow" src={gallery12} alt="" />
    </div>
  </div>
</div>
