---
import Button from "./Button.astro";
import { type IButton } from "@wedding/interfaces/IButton";

const TITLE = "Regalos";
const DESCRIPTION =
  "Tu presencia es el mejor regalo para nosotros. Pero si deseas contribuir a nuestra nueva aventura, hemos colocado dos opciones para apoyarnos. Agradecemos de corazón cualquier detalle.";
const BUTTONS: IButton[] = [
  {
    label: "Lista de Regalos",
    url: "https://www.amazon.com.mx/wedding/registry/1GYNN81AH10HL",
    target: "_blank",
  },
  {
    label: "Regalo en efectivo",
    url: "/nuestra-boda/regalo-en-efectivo",
    target: "_self",
  },
];
---

<section id="gifts" class="flex flex-col md:items-center gap-4">
  <h2 class="title text-4xl md:text-6xl text-wedding-main appear">{TITLE}</h2>
  <p class="w-full md:w-2/3 md:text-center text-pretty">
    {DESCRIPTION}
  </p>

  <div
    class="mt-4 w-full flex flex-col md:flex-row items-center justify-center gap-4"
  >
    {
      BUTTONS.map(({ label, url, target }) => (
        <Button label={label} url={url} target={target} />
      ))
    }
  </div>
</section>
