---
import Button from "@wedding/Button.astro";

const { title, subtitle, description, label, href } = Astro.props;
---

<div class="mt-8 flex flex-col gap-2">
  <span class="subtitle">{subtitle}</span>
  <h2 class="title text-4xl md:text-6xl text-wedding-main appear">{title}</h2>
</div>
<p>{description}</p>
<Button url={href} label={label} />
