---
import type { GetStaticPaths } from "astro";


import Layout from "@layouts/MainLayout.astro";
import ProjectGrid from "@organisms/ProjectGrid.astro";
import CategoryChips from "@organisms/CategoryChips.astro";
import SectionTitle from "@atoms/SectionTitle.astro";
import { getAllCategories } from "@lib/content/getAllCategories";
import { getLastWord } from "@lib/utils/getLastWord";
import { getCategory } from "@lib/content/getCategory";

export const getStaticPaths = (async () => {
  const categories = (await getAllCategories()).map((category) =>
    category.toLowerCase()
  );

  return categories.map((category) => ({
    params: { category },
    props: { category },
  }));
}) satisfies GetStaticPaths;

const { category } = Astro.props;

const categoryText = await getCategory(category);
const { text, lastWord } = await getLastWord(
  `Mis proyectos de ${categoryText}`
);
---

<Layout title={category} description={category} headerTitle="Mis proyectos">
  <main class="w-full m-auto px-2 xl:w-[1024px] py-28">
    <SectionTitle subtitle={text} headline={lastWord} />
    <CategoryChips />
    <ProjectGrid category={category} linkToAll={false} />
  </main>
</Layout>
