---
import { Icon } from "astro-icon";
import Chip from "./Chip.astro";

interface Props {
  image: string;
  title: string;
  description: string;
  href: string;
  icons: [];
  status: "new" | "building" | "featured";
  size?: "big" | "small";
}

const {
  image,
  title,
  description,
  href,
  icons,
  status,
  size = "small",
} = Astro.props;
---

<article
  class={`${
    size === "big" ? "md:w-1/2 hidden md:block" : "md:w-1/4"
  } mb-6 p-2 w-full`}
>
  <a href={href} target="_blank">
    <figure class="relative mb-2">
      <span class="absolute m-1 top-1 left-1">
        <Chip status={status} />
      </span>
      <img
        class="object-cover rounded-lg"
        src={`/assets/projects/${image}.png`}
        alt={title}
      />
    </figure>
    <div class="flex-col justify-start text-black">
      <div class="my-1 flex gap-2">
        {icons.map((icon) => <Icon name={icon} class="text-gray w-5" />)}
      </div>
      <h3 class="text-xl font-bold line-clamp-1">
        {title}
      </h3>
      <p class="text-base line-clamp-2">
        {description}
      </p>
    </div>
  </a>
</article>
