---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import Chip from "./Chip.astro";
import type { Category } from "./Chip.astro";

interface Props {
  cover: any;
  title: string;
  description: string;
  href: string;
  icons: string[];
  categories: Category[];
  size?: "big" | "small";
}

const {
  cover,
  title,
  description,
  href,
  icons,
  categories,
  size = "small",
} = Astro.props;

const imageSize = size === "big" ? 552 : 268;
---

<article
  class={`${
    size === "big" ? "md:w-1/2 hidden md:block" : "md:w-1/4"
  } mb-6 p-2 w-full`}
>
  <a href={href} target="_blank">
    <figure class="relative mb-2">
      <span class="absolute m-1 top-1 left-1 flex gap-1">
        {categories.map((category: Category) => <Chip category={category} />)}
      </span>
      <Image
        width={imageSize}
        height={268}
        class="object-cover rounded-lg"
        src={cover}
        alt={title}
      />
    </figure>
    <div class="flex-col justify-start text-black">
      <div class="my-1 flex gap-2">
        {icons.map((icon) => <Icon name={icon} class="text-gray w-5" />)}
      </div>
      <h3 class="text-xl font-bold line-clamp-1">
        {title}
      </h3>
      <p class="text-base line-clamp-2">
        {description}
      </p>
    </div>
  </a>
</article>
