---
import { Icon } from "astro-icon";
import Chip from "./Chip.astro";

const { image, status, title, href, anchorLabel, chipLabel } = Astro.props;
---

<article class="rounded-lg bg-light-gray max-w-xs overflow-hidden">
  <figure>
    <img src={`/assets/resources/${image}.png`} alt={title} />
  </figure>
  <div class="p-4">
    <Chip status={status} label={chipLabel} />
    <h4 class="my-3 text-2xl font-bold line-clamp-2">{title}</h4>
    {
      href === "#" ? (
        <p class="text-gray">{anchorLabel}</p>
      ) : (
        <a href={href} class="text-red flex hover:underline">
          <Icon name="ci:link" class="w-5 mr-1" />
          <span class="text-red">{anchorLabel}</span>
        </a>
      )
    }
  </div>
</article>
