---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

import Layout from "@layouts/MainLayout.astro";
import Chip from "@atoms/Chip.astro";
import Button from "@atoms/Button.astro";
import { BackButton } from "@molecules/BackButton";
import type { Category } from "@lib/content/getCategory";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}) satisfies GetStaticPaths;

export const prerender = true; // Asegura que las rutas se pre-rendericen correctamente

const project = Astro.props;

// Verifica si el proyecto es válido antes de intentar acceder a sus propiedades
// Esto es crucial para evitar errores si se accede a una URL no válida en producción
if (!project || Object.keys(project).length === 0) {
  return Astro.redirect("/404");
}

const { images, title, description, categories, icons, href } = project.data;
const { Content } = await project.render();
---

<Layout title={title} description={description} headerTitle="Mis proyectos">
  <section
    class="w-full m-auto xl:w-[1024px] px-4 py-24 flex flex-col items-center"
  >
    <BackButton client:visible>
      <Icon name="mdi:arrow-u-left-top" class="min-w-6" />
    </BackButton>
    <main class="m-auto" transition:name={title}>
      <Image
        src={images[0]}
        alt={title}
        class="w-full object-cover rounded-lg"
        width={992}
        height={478}
      />
      <div class="mt-4 w-full mx-auto flex flex-col items-center">
        <div class="flex gap-1">
          {categories.map((category: Category) => <Chip category={category} />)}
        </div>
        <h1 class="my-4 text-3xl font-bold text-center">
          {title}
        </h1>
        <div class="mb-4 flex gap-2">
          {
            icons.map((icon) => (
              <Icon name={icon} class="text-light-gray text-2xl" />
            ))
          }
        </div>
        <p class="text-center">
          {description}
        </p>
        <hr class="w-full my-4" />
        <div>
          <Content />
        </div>
        <hr class="w-full mt-4 mb-8" />
      </div>
    </main>
    <Button type="text" name="Ver Proyecto" href={href} target="_blank">
      <Icon name="mdi:external-link" class="text-white min-w-6" />
      <span class="btn-label">Ver proyecto</span>
    </Button>
  </section>
</Layout>
