---
import { getCollection } from "astro:content";

import Layout from "@common/Layout.astro";
import Phrase from "@common/Phrase.astro";
import Contact from "@common/Contact/Contact.astro";
import CategoryChips from "@common/CategoryChips.astro";
import SectionTitle from "@common/SectionTitle.astro";
import ProjectCard from "@projects/ProjectCard.astro";

import { SEO_PROJECTS } from "@constants/seo";

const { title, description } = SEO_PROJECTS;

const projects = await getCollection("projects");
---

<Layout title={title} description={description} headerTitle="Mis Proyectos">
  <main class="w-full m-auto px-2 xl:w-[1024px] py-24">
    <section id="proyectos" class="w-full mb-8">
      <SectionTitle subtitle="Proyectos" headline="Todos mis proyectos" />
      <CategoryChips />
      <div class="flex flex-wrap items-start">
        {
          projects.map((project) => {
            const { images, title, description, icons, categories } =
              project.data;

            return (
              <ProjectCard
                images={images}
                title={title}
                description={description}
                icons={icons}
                categories={categories}
                slug={project.slug}
              />
            );
          })
        }
      </div>
    </section>
    <Phrase />
    <Contact />
  </main>
</Layout>
