---
import { getCollection } from "astro:content";
import ProjectCard from "../components/ProjectCard.astro";
import SectionTitle from "../components/SectionTitle.astro";

const allProjects = await getCollection("projects");

const { color = "red-light" } = Astro.props;
---

<section id="proyectos" class="w-full p-4 mb-8">
  <SectionTitle
    headline="Lo mejor de "
    colorHeadline="mi trabajo"
    subtitle="proyectos"
    color={color}
  />
  <div class="flex flex-wrap items-start">
    {
      allProjects.map(({ data }) => (
        <ProjectCard
          cover={data?.cover}
          title={data?.title}
          description={data?.description}
          href={data?.href}
          icons={data?.icons}
          categories={data?.categories}
          size={data?.size}
        />
      ))
    }
  </div>
</section>
