---
import ProjectCard from "../components/ProjectCard.astro";
import SectionTitle from "../components/SectionTitle.astro";

const allProjects = await Astro.glob("../content/projects/*.md");
---

<section id="proyectos" class="w-full p-4 mb-8">
  <SectionTitle
    headline="Lo mejor de"
    colorHeadline="mi trabajo"
    subtitle="proyectos"
  />
  <div class="flex flex-wrap items-start">
    {
      allProjects.map(({ frontmatter }) => (
        <ProjectCard
          image={frontmatter.image}
          title={frontmatter.title}
          description={frontmatter.description}
          href={frontmatter.href}
          icons={frontmatter.icons}
          status={frontmatter.status}
          size={frontmatter.size}
        />
      ))
    }
  </div>
</section>
