---
import { getCollection } from "astro:content";
import SectionTitle from "../components/SectionTitle.astro";
import ResourcesCard from "../components/ResourcesCard.astro";

const allResources = await getCollection("resources");
---

<section id="recursos" class="w-full p-4 mb-8">
  <SectionTitle
    headline="Mi aporte a "
    colorHeadline="la comunidad"
    subtitle="recursos"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      allResources.map(({ data }) => (
        <ResourcesCard
          cover={data?.cover}
          title={data?.title}
          href={data?.href}
          anchorLabel={data?.anchorLabel}
          label={data?.label}
        />
      ))
    }
  </div>
</section>
