---
import ServiceCard from "../components/ServiceCard.astro";
import SectionTitle from "../components/SectionTitle.astro";

const {
  services,
  color = "red",
  headline,
  colorHeadline,
  subtitle = "",
  id = "servicios",
} = Astro.props;
---

<section id={id} class="w-full p-4 mb-8">
  <SectionTitle
    headline={headline}
    colorHeadline={colorHeadline}
    subtitle={subtitle}
    color={color}
  />
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      services.map(({ data }: any) => (
        <ServiceCard
          icon={data?.icon}
          title={data?.title}
          description={data?.description}
          subServices={data?.subServices}
          color={color}
        />
      ))
    }
  </div>
</section>
