---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";
import Button from "@common/Button.astro";
import { Icon } from "astro-icon/components";

const { category = "main" } = Astro.props;

const projects = await getCollection("projects", ({ data }) =>
  data.categories.map((cat: string) => cat.toLowerCase()).includes(category)
);
---

<div class="flex flex-wrap items-start">
  {
    projects.map((project) => {
      const { cover, title, description, icons, categories, size } =
        project.data;

      return (
        <ProjectCard
          cover={cover}
          title={title}
          description={description}
          icons={icons}
          categories={categories}
          size={size}
          slug={project.slug}
        />
      );
    })
  }
</div>
<div class="w-full flex items-center justify-center mt-4">
  <Button type="text" name="proyectos" href="/projects">
    <Icon name="mdi:stars" class="text-white min-w-6" />
    <span class="btn-label">Ver todos mis proyectos</span>
  </Button>
</div>
