---
import {Image} from 'astro:assets'
const { img, alt, title, description, color = "purple" } = Astro.props;
---

<section
  class="w-full px-4 py-8 m-auto flex flex-col md:flex-row items-center justify-center"
>
  <div class="w-full md:w-1/2 p-4">
    <Image src={img} alt={alt} />
    <span class="text-xs text-gray"><a href="https://www.freepik.es/autor/ekayasadesign">Imagen de Ekayasa.Design</a> en Freepik</span>
  </div>
  <div class="w-full md:w-1/2 pb-2 text-left">
    <div class="pb-8">
      <h4 class="pb-4 text-2xl font-bold">{title}</h4>
      <p>{description}</p>
    </div>
    <slot />
  </div>
</section>
