---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Chip from "@common/Chip.astro";

const { cover, title, href, anchorLabel, label } = Astro.props;
---

<article class="rounded-lg bg-light-gray max-w-xs overflow-hidden">
  <figure>
    <Image src={cover} alt={title} />
  </figure>
  <div class="mt-[-2rem] px-4 pb-4">
    <Chip category="chip" label={label} />
    <h4 class="my-3 text-2xl font-bold line-clamp-2">{title}</h4>
    {
      href === "#" ? (
        <p class="text-gray">{anchorLabel}</p>
      ) : (
        <a href={href} class="text-red flex items-center hover:underline">
          <Icon name="mdi:link" class="text-lg mr-1" />
          <span class="text-red">{anchorLabel}</span>
        </a>
      )
    }
  </div>
</article>
